{{> nav}}

<h1>Welcome to James' Ramblin Room!</h1>
{{#each posts}}
<div class="card container justify-content-center mt-4 mb-4">
  <div class="card-header">
    {{this.user}}
  </div>
  <div class="card-body">
    <h5 class="card-title">{{this.post_name}}</h5>
    <p class="card-text">{{this.post_name}}</p>
    {{#if loggedin}}
    <div class="input-group">
    <span class="input-group-text">Write Comment</span>
    <textarea type="text" class="userComment form-control" aria-label="write comment">
    </div>
    {{else}}
    <a class="btn btn-primary" href="./login">Login to Comment</a>
    {{/if}}
  </div>
</div>
{{/each}}