{{> nav}}

<div class="card container justify-content-center mt-4 mb-4" data-id="{{post.id}}">
  <div class="card-header">
    {{post.user}}
  </div>
  <div class="card-body">
    <h5 class="card-title">{{post.post_name}}</h5>
    <p class="card-text">{{post.post_content}}</p>
    
    <a class="btn btn-primary" href="./comment">Comment</a>
  </div>
</div>

   <div class="mb-3">
  <label for="exampleFormControlTextarea1" class="form-label">Your Comment Here</label>
  <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
</div>

{{#each comment}}

{{/each}}