{{> nav}}
<div class="container row justify-content-center mt-4">
<div class="col-5">
<h2>REGISTER</h2>
<form class="register-form">
    <div class="mb-3">
        <label for="registerUsername" class="form-label">Email address</label>
        <input type="email" class="form-control" id="registerUsername" aria-describedby="emailHelp">
        <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
    </div>
    <div class="mb-3">
        <label for="registerPassword" class="form-label">Password</label>
        <input type="password" class="form-control" id="registerPassword">
    </div>
    <button type="submit" class="btn btn-primary">Register</button>
</form>
</div>
</div>
<script src="./js/register.js"></script>
